.p-pagenation {
    margin: 15% 5% 5%;
    @include ipad {
        margin: 10% 10% 4%;
        font-size: 1.91vw;
    }
    @include pc {
        font-size: 0.83vw;
    }
    nav {
        h2 {
            display: none;
        }
        .nav-links ul {
            display: flex;
            justify-content: space-between;
            text-align: center;
            @include ipad {
                justify-content: center;
            }
            li {
                margin: 0 1%;
                .page-numbers {
                    display: none;
                    @include ipad {
                        display: flex;
                        justify-content: center;
                        line-height: 4.2vw;
                        border: solid 1px #707070;
                        width: 4.2vw;
                        height: 4.2vw;
                    }
                    @include pc {
                        width: 1.82vw;
                        height: 1.82vw;
                        line-height: 1.82vw;
                    }
                }
                .prev {
                    border: none;
                    display: flex;
                    &::after {
                        content: "前へ";
                        @include ipad {
                            content: "";
                        }
                    }
                }
                .next {
                    border: none;
                    display: flex;
                    &::before {
                        content: "次へ";
                        @include ipad {
                            display: none;
                        }
                    }
                }
                .current {
                    color: #fff;
                    background-color: #707070;
                    font-weight: 700;
                }
            }
        }
    }
}
