.p-top {
    display: flex;
    width: 100%;
    background-size: cover;
    align-items: center;
    padding-left: 6%;
    color:#ffffff;
    h1,h2 {
        font-size: 36px;
        }
    h3 {
        font-size: 16px;
        }
    @include ipad{
        h1 {
            font-size: 7.2vw;
            }
        h2 {
            font-size: 4.3vw;
            }
        h3 {
            font-size: 1.9vw;
            }   
        }
    @include pc{
        h1 {
            font-size: 3.15vw;
            }
        h2 {
            font-size: 1.95vw;
            }
        h3 {
            font-size: 0.85vw;
            }   
        }
    
}

.p-top__index {
    background-image: url("img/index-top_iphone.png");
    &::after {
        content: "";
        display: block;
        padding-top: 76%;
    }
    @include ipad {
        background-image: url("img/index-top_ipad.png");
        &::after {
            padding-top: 34%;
        }
    }
    @include pc {
        background-image: url("img/index-top_pc.png");
    }
}

.p-top__archive {
    background-image: url("img/archive-top_iphone.png");
    background-color: rgba($color: #000000, $alpha: 1);
    &::after {
        content: "";
        display: block;
        padding-top: 76%;
    }
    h1 {
        font-family: "Roboto", sans-serif;
        letter-spacing: 0.08em;
    }
    @include ipad {
        display: flex;
        align-items: center;
        background-image: url("img/archive-top_ipad.png");
        &::after {
            padding-top: 34%;
        }
    }
    @include pc {
        background-image: url("img/archive-top_pc.png");
        background-size: contain;
        &::after {
            padding-top: 16%;
        }
    }
    .p-top__inner {
        @include ipad {
            display: flex;
            align-items: center;
        }
    }
}
.p-top__post::after{
    content: "";
    display:block;
    padding-top: 60%;
    @include ipad{
        padding-top: 60%;
    }
    @include pc{
        padding-top: 32%;
    }
}
.p-top__single {
    background-image: url("img/single-top_iphone.png");

    @include ipad {
        background-image: url("img/single-top_ipad.png");
        background-size: cover;
    }
    @include pc {
        background-image: url("img/single-top_pc.png");
    }
}
.p-top__page {
    background-image: url("img/page-top_iphone.png");

    @include ipad {
        background-image: url("img/page-top_ipad.png");
        background-size: cover;
    }
    @include pc {
        background-image: url("img/page-top_pc.png");
    }
}
