@charset "UTF-8";
body {
  font-family: "M PLUS 1p", sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.7;
  position: relative;
}

@media (min-width: 835px) {
  body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 81.2% 18.8%;
        grid-template-columns: 81.2% 18.8%;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: "main  sidebar" "footer  footer ";
  }
}

@media (min-width: 835px) {
  .l-base {
    grid-area: main;
  }
}

ul li {
  list-style: none;
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: #707070;
}

body.is-open {
  position: fixed;
}

.l-footer {
  height: 40vw;
  color: #ffffff;
  background-color: #9d8670;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 376px) {
  .l-footer {
    height: 19vw;
  }
}

@media (min-width: 835px) {
  .l-footer {
    grid-area: footer;
    height: 7vw;
  }
}

.l-footer a {
  font-size: 5vw;
  padding: 3% 0 9%;
}

@media (min-width: 376px) {
  .l-footer a {
    font-size: 2.2vw;
    padding: 1% 0 3%;
  }
}

@media (min-width: 835px) {
  .l-footer a {
    font-size: 1vw;
    padding: 1% 0 1%;
  }
}

.l-footer p {
  font-size: 3vw;
}

@media (min-width: 376px) {
  .l-footer p {
    font-size: 1vw;
  }
}

@media (min-width: 835px) {
  .l-footer p {
    font-size: 0.8vw;
  }
}

.l-header {
  height: 57vw;
  width: 100%;
  color: #707070;
  background-color: #fff7ef;
  padding-bottom: 10%;
}

@media (min-width: 376px) {
  .l-header {
    height: 28vw;
    padding-bottom: 4.6%;
  }
}

@media (min-width: 835px) {
  .l-header {
    height: 11vw;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 0;
  }
}

.l-header h1 {
  font-family: "Roboto", sans-serif;
  font-size: 10vw;
  line-height: 3.3;
  text-align: center;
}

@media (min-width: 376px) {
  .l-header h1 {
    font-size: 4.8vw;
    line-height: 3;
  }
}

@media (min-width: 835px) {
  .l-header h1 {
    padding-left: 42px;
    font-weight: 700;
    font-size: 3.4vw;
    line-height: 0;
  }
}

.l-header .l-header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0px 7% 0px 5%;
}

@media (min-width: 376px) {
  .l-header .l-header__search {
    padding: 0px 6% 0px 4%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 835px) {
  .l-header .l-header__search {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0px;
  }
}

.l-main {
  width: 100%;
  background-color: #fffdfa;
}

@media (min-width: 835px) {
  .l-main {
    width: 100%;
  }
}

.l-sidebar {
  position: fixed;
  top: 0;
  left: 100%;
  font-family: "M PLUS 1p", sans-serif;
  color: #707070;
  text-decoration: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  height: 100%;
}

.l-sidebar .l-sidebar__hide {
  width: 18vw;
  background: #000000;
  opacity: 0.5;
}

@media (min-width: 376px) {
  .l-sidebar .l-sidebar__hide {
    width: 58vw;
  }
}

@media (min-width: 835px) {
  .l-sidebar .l-sidebar__hide {
    display: none;
  }
}

.l-sidebar .l-sidebar__gmenu {
  width: 82vw;
  background-color: #f2ede9;
}

@media (min-width: 376px) {
  .l-sidebar .l-sidebar__gmenu {
    width: 42vw;
  }
}

.l-sidebar .l-sidebar__gmenu h2 {
  display: none;
}

@media (min-width: 835px) {
  .l-sidebar .l-sidebar__gmenu h2 {
    display: inline;
    font-family: "Roboto", sans-serif;
    font-size: 1.7vw;
    font-weight: 600;
    line-height: 11vw;
    padding-left: 2vw;
  }
}

@media (min-width: 835px) {
  .l-sidebar {
    position: static;
    grid-area: sidebar;
    height: 100%;
    width: 100%;
  }
}

.l-sidebar .l-sidebar__main {
  padding-top: 10vw;
  padding-bottom: 10vw;
}

@media (min-width: 835px) {
  .l-sidebar .l-sidebar__main {
    padding-top: 0;
  }
}

.l-sidebar .l-sidebar__main li {
  padding-left: 12%;
  padding-bottom: 1%;
}

.l-sidebar .l-sidebar__main li a {
  display: block;
  line-height: 3.6;
  font-weight: 700;
  font-size: 5.8vw;
}

@media (min-width: 376px) {
  .l-sidebar .l-sidebar__main li a {
    font-size: 2.7vw;
    line-height: 3.4;
  }
}

@media (min-width: 835px) {
  .l-sidebar .l-sidebar__main li a {
    font-size: 1.2vw;
    line-height: 4;
  }
}

.l-sidebar .l-sidebar__sub li {
  padding-left: 10%;
  padding-bottom: 0px;
}

.l-sidebar .l-sidebar__sub li a {
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 5vw;
  line-height: 2.6;
}

@media (min-width: 376px) {
  .l-sidebar .l-sidebar__sub li a {
    font-size: 2.6vw;
    line-height: 2.3;
  }
}

@media (min-width: 835px) {
  .l-sidebar .l-sidebar__sub li a {
    font-size: 1vw;
    line-height: 2.6;
  }
}

.l-sidebar.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  -webkit-transition-property: display, left;
  transition-property: display, left;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.l-sidebar.is-open .l-sidebar__gmenu {
  overflow: scroll;
  min-height: 100vh;
}

.c-button {
  display: inline-block;
  height: 12vw;
  background-color: #F2EDE9;
  font-size: 4vw;
  font-weight: bold;
  border-radius: 8px;
  border: solid 1px #707070;
}

.c-button--small {
  width: 20vw;
  margin-left: 2.6vw;
}

@media (min-width: 376px) {
  .c-button--small {
    font-size: 1.8vw;
    width: 16vw;
    height: 5.7vw;
    margin-left: 1.5vw;
  }
}

@media (min-width: 835px) {
  .c-button--small {
    font-size: 0.8vw;
    width: 6.8vw;
    min-width: 72px;
    height: 2.4vw;
    margin: 0 1.6vw 0 0.6vw;
  }
}

.c-button--archive {
  margin: 0 auto;
  width: 44vw;
  background-color: #ffffff;
  color: #707070;
  border-radius: 12vw;
  font-weight: 400;
}

.c-button--archive a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 12vw;
}

@media (min-width: 376px) {
  .c-button--archive {
    width: 19vw;
    height: 5.2vw;
  }
  .c-button--archive a {
    font-size: 2vw;
    line-height: 5.2vw;
  }
}

@media (min-width: 835px) {
  .c-button--archive {
    width: 15.3vw;
    height: 3.8vw;
  }
  .c-button--archive a {
    font-size: 0.8vw;
    line-height: 4vw;
  }
}

.c-form {
  font-size: 8vw;
  font-weight: 400;
  display: block;
  height: 12vw;
  width: 60vw;
  background-color: #ffffff;
  border: solid 1px #707070;
  border-radius: 8px;
}

@media (min-width: 376px) {
  .c-form {
    font-size: 2.8vw;
    width: 46.5vw;
    height: 5.7vw;
  }
}

@media (min-width: 835px) {
  .c-form {
    width: 21vw;
    font-size: 1.5vw;
    height: 2.4vw;
  }
}

.c-menu__open {
  font-size: 5vw;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 3vw;
  left: 83vw;
}

@media (min-width: 376px) {
  .c-menu__open {
    font-size: 4vw;
    top: 2vw;
    left: 86vw;
  }
}

@media (min-width: 835px) {
  .c-menu__open {
    display: none;
  }
}

#c-menu__open {
  display: none;
}

.c-menu__close {
  position: relative;
}

.c-menu__close span:before,
.c-menu__close span:after {
  top: 3vw;
  right: -73vw;
  position: absolute;
  display: block;
  content: "";
  background-color: #707070;
  width: 1.5vw;
  height: 11vw;
}

@media (min-width: 376px) {
  .c-menu__close span:before,
  .c-menu__close span:after {
    width: 0.7vw;
    height: 5.5vw;
    top: 3vw;
    right: -36vw;
  }
}

@media (min-width: 835px) {
  .c-menu__close span:before,
  .c-menu__close span:after {
    display: none;
  }
}

.c-menu__close span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-menu__close span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#c-menu__close {
  display: none;
}

.c-card {
  margin-bottom: 5vw;
}

.c-card .c-card__img {
  width: 100%;
  height: 61vw;
  background-image: url("img/archive-card_iphone.png");
  background-size: cover;
}

.c-card .c-card__outline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 94vw;
  background-color: #3c2b1c;
  color: white;
  padding: 7vw 5vw 12vw 5vw;
}

.c-card .c-card__outline .c-card__contents h3 {
  font-weight: 400;
}

.c-card .c-card__outline .c-card__contents h4 {
  font-weight: 400;
  padding: 5vw 0 2.5vw 0;
}

.c-card .c-card__outline .c-card__contents p {
  padding: 0 19vw 0 0;
}

@media (min-width: 376px) {
  .c-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2.5vw;
  }
  .c-card .c-card__img {
    background-image: url("img/archive-card_ipad.png");
    height: 42vw;
    width: 50%;
  }
  .c-card .c-card__outline {
    height: 42vw;
    width: 50%;
    padding-top: 2vw;
    padding-bottom: 4.2vw;
  }
  .c-card .c-card__outline .c-card__contents h3 {
    font-size: 2.4vw;
  }
  .c-card .c-card__outline .c-card__contents h4 {
    font-size: 2vw;
    padding: 2vw 0 1vw 0;
  }
  .c-card .c-card__outline .c-card__contents p {
    font-size: 2vw;
    padding: 0 0 0 0;
  }
}

@media (min-width: 835px) {
  .c-card {
    margin-bottom: 1.4vw;
  }
  .c-card .c-card__img {
    background-image: url("img/archive-card_pc.png");
    height: 25vw;
  }
  .c-card .c-card__outline {
    height: 25vw;
    padding: 2.6vw 5vw 2.8vw 3.8vw;
  }
  .c-card .c-card__outline .c-card__contents h3 {
    font-size: 1.8vw;
  }
  .c-card .c-card__outline .c-card__contents h4 {
    font-size: 1vw;
    padding: 2vw 0 1vw 0;
  }
  .c-card .c-card__outline .c-card__contents p {
    font-size: 0.8vw;
    padding: 0 0 0 0;
  }
}

.c-content-index {
  width: 100%;
  height: 162vw;
  background-color: rosybrown;
  background-size: contain;
  margin-bottom: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.c-content-index::after {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  height: 0.6%;
  background-color: #ffffff;
  left: 2.5vw;
  top: 12%;
}

@media (min-width: 376px) {
  .c-content-index {
    width: 41.5vw;
    height: 79.5vw;
  }
}

@media (min-width: 835px) {
  .c-content-index {
    width: 32.8vw;
    height: 77.8vw;
  }
}

.c-content-index h2 {
  color: #ffffff;
  font-size: 10vw;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding-left: 2.5vw;
  line-height: 2;
}

@media (min-width: 376px) {
  .c-content-index h2 {
    font-size: 5vw;
  }
}

.c-content-index .c-content-index__selectinfo .c-content-index__infobox {
  background-color: #ffffff;
  height: 40vw;
  opacity: 0.8;
  margin: 0 3vw 3vw;
}

@media (min-width: 376px) {
  .c-content-index .c-content-index__selectinfo .c-content-index__infobox {
    margin: 0 1.5vw 1.5vw;
    height: 20vw;
  }
}

@media (min-width: 835px) {
  .c-content-index .c-content-index__selectinfo .c-content-index__infobox {
    height: 12vw;
  }
}

.c-content-index .c-content-index__selectinfo .c-content-index__infobox h3 {
  font-size: 5.4vw;
  line-height: 2.8;
  padding-left: 2.5vw;
}

@media (min-width: 376px) {
  .c-content-index .c-content-index__selectinfo .c-content-index__infobox h3 {
    font-size: 2.8vw;
    line-height: 3.2;
    padding-left: 1.8vw;
  }
}

@media (min-width: 835px) {
  .c-content-index .c-content-index__selectinfo .c-content-index__infobox h3 {
    font-size: 1.6vw;
    line-height: 3;
    padding-left: 1.4vw;
  }
}

.c-content-index .c-content-index__selectinfo .c-content-index__infobox p {
  font-size: 4vw;
  padding: 0 2.5vw;
}

@media (min-width: 376px) {
  .c-content-index .c-content-index__selectinfo .c-content-index__infobox p {
    font-size: 2vw;
    padding: 0 1.8vw;
  }
}

@media (min-width: 835px) {
  .c-content-index .c-content-index__selectinfo .c-content-index__infobox p {
    font-size: 1.1vw;
    padding: 0 1.4vw;
  }
}

.c-content-index__takeout {
  background-image: url("img/index-takeout.png");
  background-size: cover;
}

.c-content-index__eatin {
  background-image: url("img/index-eatin.png");
  background-size: cover;
}

.p-article {
  margin: 4.8vw 5vw 13vw;
}

@media (min-width: 376px) {
  .p-article {
    margin: 4.8vw 4.4vw 0.2vw;
  }
}

@media (min-width: 835px) {
  .p-article {
    margin: 6vw 5.8vw 1.8vw;
  }
}

@media (min-width: 376px) {
  .p-article__index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.p-article__archive {
  color: #3C2A10;
}

.p-article__archive h2 {
  font-size: 6.5vw;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 16vw;
}

.p-article__archive p {
  font-size: 4vw;
  padding: 7vw 0 28vw;
}

@media (min-width: 376px) {
  .p-article__archive h2 {
    font-size: 3.8vw;
    line-height: 5.4vw;
    letter-spacing: 0;
  }
  .p-article__archive p {
    font-size: 2vw;
    padding-top: 2.6vw;
  }
}

@media (min-width: 835px) {
  .p-article__archive {
    margin: 1.6vw 4.8vw;
  }
  .p-article__archive h2 {
    font-size: 1.7vw;
    line-height: 0;
    padding-top: 2.6vw;
  }
  .p-article__archive p {
    font-size: 0.8vw;
    padding: 2.6vw 0 3.8vw 0;
  }
}

.p-top {
  width: 100%;
  height: 75.5vw;
  background-size: cover;
}

@media (min-width: 376px) {
  .p-top {
    height: 34vw;
  }
}

.p-top h2 {
  color: #ffffff;
}

.p-top h3 {
  color: #ffffff;
}

.p-top__index {
  background-image: url("img/index-top_iphone.png");
}

@media (min-width: 376px) {
  .p-top__index {
    background-image: url("img/index-top_ipad.png");
  }
}

@media (min-width: 835px) {
  .p-top__index {
    background-image: url("img/index-top_pc.png");
    background-size: contain;
    height: 27.5vw;
  }
}

.p-top__index h2 {
  font-size: 8.3vw;
  padding-left: 5vw;
  line-height: 7.5;
}

@media (min-width: 376px) {
  .p-top__index h2 {
    font-size: 4vw;
    line-height: 9;
    padding-left: 10vw;
  }
}

@media (min-width: 835px) {
  .p-top__index h2 {
    font-size: 2vw;
    padding-left: 4.5vw;
    line-height: 13;
  }
}

.p-top__archive {
  background-image: url("img/archive-top_iphone.png");
  background-color: black;
  padding: 26vw 0 0 10vw;
}

.p-top__archive h2 {
  font-family: "Roboto", sans-serif;
  font-size: 8.3vw;
  letter-spacing: 0.08em;
}

.p-top__archive h3 {
  font-size: 4vw;
}

@media (min-width: 376px) {
  .p-top__archive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 0 0 10.2vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url("img/archive-top_ipad.png");
  }
  .p-top__archive h2 {
    font-size: 7vw;
  }
  .p-top__archive h3 {
    font-size: 2.1vw;
    padding: 1vw 0 0 0.5vw;
  }
}

@media (min-width: 835px) {
  .p-top__archive {
    background-image: url("img/archive-top_pc.png");
    background-size: contain;
    height: 12.4vw;
  }
  .p-top__archive h2 {
    font-size: 3vw;
  }
  .p-top__archive h3 {
    font-size: 0.8vw;
    padding: 0 0 0 0.5vw;
  }
}

.p-map {
  width: 100%;
  height: 187vw;
  background-image: url("img/index-map_iphone.png");
  background-size: cover;
  background-color: #000000;
  position: relative;
}

.p-map::after {
  content: "";
  display: block;
  position: absolute;
  width: 21%;
  height: 0.3%;
  background-color: #ffffff;
  left: 12%;
  top: 14%;
  z-index: 1000;
}

@media (min-width: 376px) {
  .p-map::after {
    height: 0.6%;
    width: 10%;
    left: 5%;
    top: 25%;
  }
}

@media (min-width: 835px) {
  .p-map::after {
    height: 0.3%;
    width: 4.8%;
    left: 7.6%;
    top: 30%;
  }
}

@media (min-width: 376px) {
  .p-map {
    height: 50vw;
    background-image: url("img/index-map_ipad.png");
  }
}

@media (min-width: 835px) {
  .p-map {
    height: 33vw;
  }
}

.p-map .p-map__screen {
  background: rgba(0, 0, 0, 0.3);
  height: 112vw;
}

@media (min-width: 376px) {
  .p-map .p-map__screen {
    height: 100%;
  }
}

@media (min-width: 835px) {
  .p-map .p-map__screen {
    background: rgba(0, 0, 0, 0.3);
    width: 61.2%;
  }
}

.p-map .p-map__screen h2 {
  color: #ffffff;
  padding: 10% 0 9% 12%;
  font-size: 8vw;
  font-weight: 600;
}

@media (min-width: 376px) {
  .p-map .p-map__screen h2 {
    font-size: 4vw;
    font-weight: 600;
    padding: 4% 0 4.5% 5%;
  }
}

@media (min-width: 835px) {
  .p-map .p-map__screen h2 {
    font-size: 1.8vw;
    padding: 8.4% 0 11.4% 12.4%;
  }
}

.p-map .p-map__screen p {
  color: #ffffff;
  padding: 0 11%;
  font-size: 4vw;
}

@media (min-width: 376px) {
  .p-map .p-map__screen p {
    font-size: 1.5vw;
    padding: 0 5%;
  }
}

@media (min-width: 835px) {
  .p-map .p-map__screen p {
    font-size: 0.8vw;
    padding: 0 12.4%;
  }
}

.p-pagenation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15% 5% 5%;
}

@media (min-width: 376px) {
  .p-pagenation {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 12% 10% 3%;
  }
}

.p-pagenation .p-pagenation__pageinfo {
  display: none;
}

@media (min-width: 376px) {
  .p-pagenation .p-pagenation__pageinfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 2vw;
    font-family: "Roboto", sans-serif;
    color: #707070;
    margin-right: 3%;
  }
}

.p-pagenation .p-pagenation__pagenumber {
  display: none;
}

@media (min-width: 376px) {
  .p-pagenation .p-pagenation__pagenumber {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .p-pagenation .p-pagenation__pagenumber li {
    border: 1px #707070 solid;
    margin: 0 2%;
  }
  .p-pagenation .p-pagenation__pagenumber li a {
    display: block;
    font-size: 1vw;
    font-weight: bold;
    color: #707070;
    width: 4vw;
    height: 4vw;
    text-align: center;
  }
}

.p-pagenation .p-pagenation__prev {
  margin-right: 2%;
}

.p-pagenation .p-pagenation__prev a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-pagenation .p-pagenation__prev a::after {
  content: "前へ";
  font-size: 4vw;
}

@media (min-width: 376px) {
  .p-pagenation .p-pagenation__prev a::after {
    display: none;
  }
}

.p-pagenation .p-pagenation__prev a span {
  display: block;
  width: 3vw;
  height: 3vw;
  border-bottom: 1px #707070 solid;
  border-left: 1px #707070 solid;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (min-width: 376px) {
  .p-pagenation .p-pagenation__prev a span {
    width: 1.3vw;
    height: 1.3vw;
  }
}

.p-pagenation .p-pagenation__next {
  margin-left: 2%;
}

.p-pagenation .p-pagenation__next a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-pagenation .p-pagenation__next a::before {
  content: "次へ";
  font-size: 4vw;
}

@media (min-width: 376px) {
  .p-pagenation .p-pagenation__next a::before {
    display: none;
  }
}

.p-pagenation .p-pagenation__next a span {
  display: block;
  width: 3vw;
  height: 3vw;
  border-top: 1px #707070 solid;
  border-right: 1px #707070 solid;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (min-width: 376px) {
  .p-pagenation .p-pagenation__next a span {
    width: 1.3vw;
    height: 1.3vw;
  }
}
/*# sourceMappingURL=app.css.map */