.l-footer{
    grid-area:footer; 
    color:#ffffff;
    height: 150px;
    background-color: #9D8670;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include ipad{
        
    }
    @include pc{
  
    }
    a{
        font-size: 1vw;
        line-height: 4;
    }
    p{
        font-size:0.6vw;
    }

}
.l-footer.is-open{
    position: fixed;
}