.l-footer {
    height: 150px;
    color: #ffffff;
    background-color: #9d8670;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include ipad {
    }
    @include pc {
        grid-area: footer;
    }
    ul {
        padding: 39px 0 34px;
        display: flex;
        align-items: center;
        li:first-child{
            border-right:#ffffff 2px solid;
        }
        li a {
            height:28px;
            display: block;
            margin:0 10px;
            font-size: 20px;
            color: #ffffff;
            text-decoration: none;
        }
    }
    p {
        font-size: 3vw;
        @include ipad {
            font-size: 1vw;
        }
        @include pc {
            font-size: 0.8vw;
        }
    }
}
