.c-button{
    display:inline-block;
    background-color: #F2EDE9;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: solid 1px #707070;

}
.c-button--small{
    width:28%;
    margin-left: 4%;
    @include ipad{
        width:136px;
    }
    @include pc{
        margin:0 30px 0 14px;
    }
}