.c-card {
    margin-bottom: 6.23%;
    .c-card__img {
        width: 100%;
        height: 61vw;
        min-height: 230px;
        img{
            width:100%;
            height:100%;
            object-fit: cover;
        }
    }
    .c-card__outline {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 94vw;
        min-height: 360px;
        background-color: #3c2b1c;
        color: white;
        padding: 9% 5% 13.1%;
        .c-card__contents {
            h3 {
                font-weight: 400;
            }
            h4 {
                font-weight: 400;
                padding: 5vw 0 2.5vw 0;
            }
            p,h2 {
                font-size: 16px;
                font-weight: 400;
                padding: 0 19vw 0 0;
            }
        }
    }
    @include ipad {
        display: flex;
        margin-bottom: 2.5vw;
        .c-card__img {
            height: 42vw;
            width: 50%;
            min-height: auto;
        }
        .c-card__outline {
            height: 42vw;
            min-height: auto;
            width: 50%;
            padding-top: 4vw;
            padding-bottom: 4.2vw;
            .c-card__contents {
                h3 {
                    font-size: 2.4vw;
                }
                h4 {
                    font-size: 2vw;
                    padding: 2vw 0 1vw 0;
                }
                p,h2 {
                    font-size: 2vw;
                    padding: 0 0 0 0;
                }
            }
        }
    }
    @include pc {
        margin-bottom: 1.4vw;
        .c-card__img {
            height: 25vw;
        }
        .c-card__outline {
            height: 25vw;
            padding: 2.6vw 5vw 2.8vw 3.8vw;

            .c-card__contents {
                h3 {
                    font-size: 1.8vw;
                }
                h4 {
                    font-size: 1vw;
                    padding: 2vw 0 1vw 0;
                }
                p,h2 {
                    font-size: 0.8vw;
                    padding: 0 0 0 0;
                }
            }
        }
    }
}
